#divCard{
    position: relative;
    flex-shrink: 0;
    display:grid;
    width: 150px;
    height:180px;
    margin:.5em;
    background-color: #fafafa;
    border-radius:10px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    overflow: hidden;
}

#divCard:hover {
    grid-template-rows: 180px 0px;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.6);
}

#divCard img{
     background-color:darkGrey;
     margin:0px;
     object-fit: cover;
     height:150px;
     width:150px;
     border-radius:10px;
    transition: 0.3s ease-in-out;
}

#divCard:hover img{
    height:180px;
}

#divCard div p{
    margin:0px;
    height:auto;
    color:black;
    text-align: center;
    transition: 0.3s ease-in-out;
}

#divCard div{
    z-index: 1;
    margin:0px;
    text-overflow:ellipsis;
}