#searchbar {
  --accent: #3b82f6;
  --accent-txt: #fff;
  --txt: #27272a;
  --txt-secondary: #929294;
  --shadow: 0 25px 50px -12px rgba(156,163,175,.2);
  --backdrop: #e5e7eb;
  --backdrop-opacity: .65;
  --bg: #fff;
  --border-color: #c0c0c0;
  --border-width: 1px;
  --option-bg: transparent;
  --option-txt: #27272a;
  --selected-option-bg: #f4f4f5;
  --selected-option-txt: #27272a;
}

#searchbar {
  overflow: hidden;
  position: relative;
  z-index: 10;
  -webkit-transition-property: all;
  transition-property: all;
  width: 100%;
  max-width: 48rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  margin: 0 auto;
  box-shadow: 0 25px 50px -12px var(--shadow);
  color: var(--txt);
  background-color: var(--bg);
  box-shadow: var(--shadow);
  opacity: 1;
}

#searchbar-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  width: auto;
  color: var(--txt);
  gap: .7em;
}

#searchbar-icon {
  color: var(--txt-secondary);
  height: 22px;
  width: 22px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#searchbar-text-div {
  flex: 1;
  position: relative;
  height: auto;
  color: var(--txt);

  input[type="text"] {
    width: 100%;
    outline: none;
  }
}

#searchbar-label {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--txt);
  border-width: 0;
}