@import "./variable";

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 2em;
  background-color: $white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 200ms ease;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }

  @media only screen and (min-width: 940px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
  }
}

.member-profile-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding: 0.25rem;
    background: linear-gradient(135deg, var(--navbar-background-color), rgb(248, 79, 85));
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    object-fit: cover;

    @media only screen and (min-width: 940px) {
        margin-right: 2rem;
    }
}

.member-description {
  color: rgb(248, 79, 85);
  font-weight: 600;
}

.member-card ul {
  margin-top: 1.5em;
}

.member-card li {
  margin-bottom: 0.5em;
}

.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}